body {
    font-family:Calibri,Arial;
    background-image:url(../Images/whiteBG.jpg);
    margin:0px;
}

a {
    text-decoration:none;
}

#header {
    background-color:#fff;
    border-bottom:3px double #333 ;
    padding:5px;
}

.icons {
width:100%;

}

    .icons div a {
        text-decoration:none;
        color:#ffda0e;
    }

.icons div {
    float:left;
    width:80px;
    margin:5px;
    text-align:center;
        height: 95px;
    background-color: #333;
    padding-top: 10px;
    border-radius: 15px;
    color: #ffda0e;
}

.button {
    border-radius:5px;
    background-color:#333;
    color:#FFDA0E !important;
    min-height:25px;
    padding:2px 10px;
    cursor:pointer;
     -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
    .button img {
        max-height:22px;
    }
    .button:hover {
    color:#333;
    background-color:#FFDA0E;
    }

a.whiteLink:link, a.whiteLink:visited
{
    color: #ffffff;
}