/*
   Saturday, January 23, 20218:50:17 PM
   User: 
   Server: .
   Database: hudhud
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.usersRemiders ADD
	isRemoved bit NULL
GO
ALTER TABLE dbo.usersRemiders ADD CONSTRAINT
	DF_usersRemiders_isRemoved DEFAULT 0 FOR isRemoved
GO
ALTER TABLE dbo.usersRemiders SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
