@font-face {
    font-family: 'gisha';
    src: url('gisha.eot');
    src: url('gisha.eot') format('embedded-opentype'),
         url('gisha.woff') format('woff'),
         url('gisha.ttf') format('truetype'),
         url('gisha.svg#gisha') format('svg');
}
