
/* DEFAULTS
----------------------------------------------------------*/
.tblMetas {

}


.rowCSS {
    clear:both;
    float:none;
    padding:10px 15px;
    margin:10px;
}

.rowTitle
{
    clear:both;
    float:none;
    padding:10px 10px;
    font-size:20px;
    font-weight:bold;
    background-color:#ccc;
        height: 26px;
        margin:10px;
}

.cellTDEn {
    float:left;
    padding-right:15px;
    margin-bottom:10px;
    direction:ltr;
    /*padding-bottom:10px;*/
}

.cellTDAr {
    float:right;
    padding-left:15px;
    margin-bottom:10px;
    direction:rtl;
}

.padding-line {
    
    margin: 5px 5px;
}


.MainHeader
{
    padding:0px;margin:0px;height:100px; 
    border-bottom-style: double; 
    border-bottom-width: 4px; border-bottom-color: #2C3354; 
    font-family: Tahoma; font-size: 20px; font-weight: bold; 
    color: #ffffff; background-image:url(../images/HeaderBG.jpg); 
    background-repeat: repeat-x;
    }

.inner_header {
    height: 28px;
    border-bottom: dotted #ccc 1px;
    padding: 3px;
    text-align: center;
}


    .inner_header img {
        max-height: 24px !important;
    }

html, body   
{
    height:100%;
    margin:0px;
	padding:0px;
    font-size: 14px;
    /*font-family: Tahoma;*/
    margin: 0px;
    padding: 0px;
    color: #696969;
}

.gridHead
{
    background-color:#006699;
    font-weight:bold;
    color:White;
    text-align:center;
    }



a:active
{
    color: #034af3;
}

.lnk:link, .lnk:visited, .lnk:active
{
    color: #000000;
    text-decoration: none;
    font-weight:bold;
}

.lnk:hover
{
    color: #000000;
    text-decoration: underline;
    font-weight:bold;
}


.button {
    border-radius:5px;
    background-color:#333;
    color:#FFDA0E;
    min-height:25px;
    padding:2px 10px;
    cursor:pointer;
     -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

    .button:hover {
    color:#333;
    background-color:#FFDA0E;
    }

a.whiteLink:link, a.whiteLink:visited
{
    color: #ffffff;
}

a.whiteLink:hover
{
    color: #ffffff;
    text-decoration: none;
}

a.whiteLink:active
{
    color: #ffffff;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

select
{
    font-size:16px;
    }


/*Dashboard*/
.block {
    width: 225px;
    height: 253px;
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.3);
    border-radius: 6px;
    margin: 10px 10px 0px 0px;
    float: right;
    border: 1px solid #ededed;
    overflow: hidden;
    background-color: #ffffff;
}

    .block .content .message {
        border-bottom: 1px solid #cecece;
        max-width: 200px;
        word-wrap: break-word;
        white-space: normal;
    }

    .block .title {
        text-align: center;
        padding-top: 10px;
        
        height: 20px;
        
        
        float: none !important;
    }

        .block .title a {
            color: #ffffff;
        }

    .block .content {
        padding: 5px;
        white-space: nowrap;
        overflow-y: auto;
        height: 194px;
    }

.note {
    margin-bottom: 5px;
    padding-bottom: 3px;
    border-bottom: solid 1px #cecece;
    width: 199px;
    overflow: hidden;
}

.screenMask {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: Gray;
    filter: alpha(opacity=50);
    opacity: 0.7;
}

.owlpopup {
    width: 805px;
    height: 398px;
    background-image: url(../Images/owl_popup.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    z-index: 100;
    margin-left: -402px;
}

.photo {
    width: 34px;
    border-radius: 17px;
}

.attTable {
    width: 100%;
}

    .attTable td {
        border-bottom: 1px solid rgb(206, 206, 206);
    }

    .attTable .footer {
        height: 25px;
        background-color: rgb(206, 206, 206);
    }


.canvasjs-chart-credit {
    display: none !important;
}

#chartContainer {
    width: 435px !important;
    overflow: hidden;
    height: 200px;
}

.canvasjs-chart-container {
    text-align: inherit !important;
}

/*Sub Icons*/
.icon {
    float: right;
    text-align: center;
    width: 100px;
    margin: 10px 35px;
    border-radius: 5px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    border: 1px solid transparent;
    background-color: transparent;
    padding: 10px;
}

    .icon img {
        width: 95px;
        margin-bottom: 5px;
    }

    .icon a:hover {
        text-decoration: none !important;
    }

    .icon:hover {
        background-color: #e0e0e0;
    }